
<div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				Get started
				<small>Let us create your account</small>
			</h2>
		</div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-form">
      
                <div class="input"> 
                  <label class="input-label" for="email">Email</label>
                  <input  class="input-field" id="email" type="email" formControlName="email">

                </div>
            
                <div class="input">
                  <label class="input-label" for="password">Password</label>
                  <input  class="input-field" id="password" type="password" formControlName="password">
                </div>
            
                <button  type="submit">Login</button>
              </form>
		<div class="card-info">
			<p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
		</div>
	</div>
</div>
